$background-color: #f2f2f2;

.section {
  position: relative;
  background-color: $background-color;

  &:after {
    content: '';
    position: absolute;
    background-color: $background-color;
    height: 18px;
    left: 50%;
    mask-image: url(/assets/edge-texture.svg);
    mask-repeat: repeat no-repeat;
    width: 106vw;
    z-index: -1;
    bottom: -17px;
    transform: translateX(-50%);
  }
}
